img{
    display: block;
    margin: auto;
    width:80%;
}

map{
    display: block;
    margin: auto;
    width:80%;
}

div{
    display: block;
    margin-top: auto;
    margin: auto;
    width:80%;
    height:1000%;
    text-align: center;
}

.head{
    font-weight: bold;
    text-decoration: underline;
}