img{
    display: block;
    margin: auto;
    width:80%;
}

map{
    display: block;
    margin: auto;
    width:80%;
}

div{
    margin-top:100px; 
    margin: auto;
    width:80%;
    text-align: center;
}

.head{
    font-weight: bold;
    text-decoration: underline;
}